<!DOCTYPE html>
<html>
<head>
  <title>YallaChat</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag :defaults, "http://localhost:9292/faye.js" %>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.1/angular.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>

<!-- javascript_include_tag  'application', 'data-turbolinks-track' => true %> -->